langchain
langchain_openai

opentelemetry-sdk~=1.34.1
opentelemetry-exporter-otlp-proto-grpc~=1.34.1

python-dotenv[cli]

# For local developmen: `pip install -e /path/to/opentelemetry-instrumentation-langchain`

